/* 2272029 - Josephine Alvina Luwia */
/* 2272041 - Rafael Cavin Emmanuel Tuasuun */
* {
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
   box-sizing: border-box;
}

body {
   background-image: url(../img/background.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

/*************************************/
/* General */
/*************************************/

.fontcolor {
   color: #161a66;
}

.fontstyle {
   font-family: 'Work Sans', sans-serif;
}

/*************************************/
/* Navigation */
/*************************************/

nav ul li:not(:last-child) {
   margin-right: 50px;
}

/*************************************/
/* Doctors */
/*************************************/

#size {
   height: calc(100vh - 70px);
}

.veticon {
   position: absolute;
   height: 16rem;
   width: 16rem;
   bottom: 0rem;
   margin-left: 12rem;
   z-index: 1;
}

#rc {
   object-fit: cover;
   object-position: top;
   height: 400px;
   width: 100%;
}

#josephine {
   object-fit: cover;
   object-position: top;
   height: 400px;
   width: 100%;
}

/* Tulisan */
.meet {
   color: #161a66;
   font-size: 10rem;
   font-weight: 600;
}

.guarantee {
   font-size: 1.3rem;
}

.vet-name {
   font-size: 60px;
}

.vet-description {
   font-size: 16px;
   text-indent: 2rem;
   text-align: justify;
}

/* size */
#doctors {
   height: calc(100vh - 98px);
}

#doctors-card {
   width: 18rem;
   background-color: #161a66;
}

#josephine {
   object-fit: cover;
   object-position: top;
   height: 20rem;
   width: 100%;
}

#josephine-add {
   color: white;
}

/* logo  */
#vertarinarian {
   width: 200px;
   padding-top: 100px;
}

/* button */
.btn-doc {
   color: #161a66;
   background-color: white;
}

.btn-doc:hover {
   background-color: #161a66;
   color: white;
   border-color: white;
}

/*************************************/
/*  Footer  */
/*************************************/
#footer {
   background-color: #161a66;
   height: 27px;
   z-index: 1;
}

/*************************************/
/*  Query Doctors  */
/*************************************/
@media only screen and (min-width: 320px) and (max-width: 700px) {
   .card-title {
      font-size: 1.3rem;
   }

   .card {
      height: 25rem;
   }

   .meet {
      font-size: 3rem;
      text-align: center;
   }

   a.btn {
      font-size: 0.9rem;
   }

   .guarantee {
      font-size: 1rem;
      text-align: center;
   }

   #doctors-card {
      width: 16rem;
   }

   #rc {
      object-fit: cover;
      object-position: top;
      height: 270px;
      width: 100%;
   }

   #josephine {
      object-fit: cover;
      object-position: top;
      height: 270px;
      width: 100%;
   }

   #footer {
      position: absolute;
      right: 0;
      left: 0;
      bottom: -44.5rem;
   }

   .footer-vet {
      bottom: -26.5rem !important;
   }
}

@media screen and (min-width: 320px){
   .veticon {
      height: 10rem;
      width: 10rem;
      bottom: -44rem;
      margin-left: 0rem;
   }

   .meet {
      margin-top: 24rem;
   }
}

@media screen and (min-width: 375px){
   .veticon {
      height: 10rem;
      width: 10rem;
      bottom: -44rem;
      margin-left: 1rem;
   }

   .meet {
      margin-top: 24rem;
   }
}

@media screen and (min-width: 425px){
   .veticon {
      height: 10rem;
      width: 10rem;
      bottom: -44rem;
      margin-left: 2.7rem;
   }

   .meet {
      margin-top: 24rem;
   }
}

@media screen and (min-width: 576px){
   .meet {
      font-size: 3.6rem;
      margin-top: 0;
      text-align: left;
   }

   .guarantee {
      text-align: left;
   }
   .card {
      height: 20rem;
   }

   .card-title {
      font-size: 10px;
   }

   a.btn {
      font-size: 10px;
   }

   .veticon {
      height: 10rem;
      width: 10rem;
      bottom: 0rem;
      margin-bottom: 1rem;
      z-index: -1;
   }

   #footer {
      bottom: 0;
   }
}

@media screen and (min-width: 768px) {
   .card-title {
      font-size: 0.7rem;
   }

   .card {
      height: 300px;
   }

   a.btn {
      font-size: 0.7rem;
   }

   .meet {
      font-size: 3rem;
   }

   .guarantee {
      font-size: 1.1rem;
   }

   #rc {
      object-fit: cover;
      object-position: top;
      height: 200px;
      width: 100%;
   }

   #josephine {
      object-fit: cover;
      object-position: top;
      height: 200px;
      width: 100%;
   }

   .veticon {
      height: 15rem;
      width: 15rem;
      bottom: 0rem;
      margin-left: 6rem;
      z-index: -1;
   }
}

@media screen and (min-width: 1024px) {
   .meet {
      font-size: 5rem;
   }

   .guarantee {
      font-size: 5rem;
   }

   .card-title {
      font-size: 1rem;
   }

   .card {
      height: fit-content;
   }

   a.btn {
      font-size: 0.9rem;
   }

   .guarantee {
      font-size: 1.1rem;
   }

   #rc {
      object-fit: cover;
      object-position: top;
      height: 350px;
      width: 100%;
   }

   #josephine {
      object-fit: cover;
      object-position: top;
      height: 350px;
      width: 100%;
   }

   .veticon {
      height: 15rem;
      width: 15rem;
      margin-left: 7rem;
      z-index: -1;
   }
}

@media screen and (min-width: 1366px) {
   .meet {
      margin-top: 2rem;
      font-size: 6rem;
   }

   .guarantee {
      font-size: 1.5rem;
      
   }

   .card-title {
      font-size: 1.1rem;
   }

   .card {
      margin-top: 4rem;
      height: 30rem;
   }

   a.btn {
      font-size: 1.1rem;
   }

   #rc {
      object-fit: cover;
      object-position: top;
      height: 400px;
      width: 100%;
   }

   #josephine {
      object-fit: cover;
      object-position: top;
      height: 352px;
      width: 100%;
   }

   .veticon {
      /* position: absolute; */
      height: 11.4rem;
      width: 11.4rem;
      bottom: 0.1rem;
      margin-left: 10rem;
      z-index: -1;
   }
}

@media screen and (min-width: 1400px) {
   .meet {
      margin-top: 2rem;
      font-size: 6rem;
   }

   .guarantee {
      font-size: 1.5rem;
      
   }

   .card-title {
      font-size: 1.1rem;
   }

   .card {
      margin-top: 4rem;
      height: 30rem;
   }

   a.btn {
      font-size: 1.1rem;
   }

   #rc {
      object-fit: cover;
      object-position: top;
      height: 352px;
      width: 100%;
   }

   #josephine {
      object-fit: cover;
      object-position: top;
      height: 352px;
      width: 100%;
   }

   .veticon {
      /* position: absolute; */
      height: 11.4rem;
      width: 11.4rem;
      bottom: 0.1rem;
      margin-left: 10rem;
      z-index: -1;
   }
}

@media screen and (min-width: 1440px) {
   .meet {
      margin-top: 4rem;
      font-size: 6rem;
   }

   .guarantee {
      font-size: 1.5rem;
   }

   .card-title {
      font-size: 1.1rem;
   }

   .card {
      margin-top: 4rem;
      height: 30rem;
   }

   a.btn {
      font-size: 1.1rem;
   }

   #rc {
      object-fit: cover;
      object-position: top;
      height: 352px;
      width: 100%;
   }

   #josephine {
      object-fit: cover;
      object-position: top;
      height: 352px;
      width: 100%;
   }

   .veticon {
      /* position: absolute; */
      height: 11.4rem;
      width: 11.4rem;
      bottom: 0.1rem;
      margin-left: 10rem;
      z-index: -1;
   }
}